* {
    font-family: Roboto, sans-serif;
}

html {
    font-size: 16px;
    height: 100%;
}

body {
    margin: 0;
    min-height: var(--leptonic-vh, 100vh);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sun {
    // position: absolute;
    // z-index: 0;
    // right: 50px;
    justify-content: center;
}

// leptonic-card {
//     z-index: inherit;
// }

@import "./leptonic/leptonic-themes";

[data-theme="light"] {
    --brand-color: #8a0ea3;
    --link-color: white;
    // --card-background-color: var(--grey-2)
    // --card-background-color: #241734;
    --card-background-color: #2E2157;
}

[data-theme="dark"] {
    --brand-color: #3061aa;
    --card-background-color: var(--grey-2)
    // --brand-color: #8a0ea3;
}
